.switcher {
  background: #ded7db;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ded7db;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;

  &-button {
    position: relative;
    line-height: 6px;

    svg {
      position: relative;
      width: 32px;
      height: 32px;
      opacity: 0.3;
      z-index: 10;
    }

    &:after {
      content: '';
      background: #fff;
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 5;
      transition: 0.3s all ease-in-out;
      transform: translateY(105%);
    }

    &.active {
      svg {
        opacity: 0.4;
      }

      &:after {
        transform: translateY(0);
      }
    }
  }
}